<h1>My books list</h1>
<h4>User: <%= current_user.email %></h4>
<table class='table table-condensed'>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Author</th>
      <th>Grade</th>
      <th>Give back</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each_with_index do |book, id| %>

    <%= render partial: 'books', locals: { book: book, id: id } %>
    <% end %>

  </tbody>
</table>
