<h1>Books list</h1>
<h4> Right now we have <%= pluralize(@books.count, 'book') %> in library </h4>

<table class='table table-condensed'>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Author</th>
      <th>Grade</th>
      <th>Borrow</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each_with_index do |book, id| %>
      <%= render partial: 'books', locals: { book:book, id: id } %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Book', new_book_path, class: 'btn btn-default' %>
